<div class="header">
    {# The links in the header should preserve the current feed_profile filter if it exists. #}
    {% set profile_params = {'feed_profile': current_feed_profile} if current_feed_profile is defined and current_feed_profile else {} %}
    <div class="navigation">
      <a href="{{ url_for('index', **profile_params) }}">Briefs</a> | <a href="{{ url_for('list_articles', **profile_params) }}">Articles</a>
      <a href="{{ url_for('add_manual_article') }}" class="nav-button add-article-btn" title="Add New Article">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="nav-icon"><path d="M8.75 3.5a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5V3.5Z" /></svg>
          Add Article
      </a>
    </div>
</div>
